@import "../themes/variable";

.detail {
  padding-top: 150px;
  text-align: center;
  .container {
    .detail-header {
      h3 {
      }
      img {
        width: 700px;
      }
    }
    .detail-body {
        .btn{
            padding: 15px 30px;
        }
    }
    .left {
      p {
        font-size: $text-2xl;
      }
    }
    .table {
      .title-table {
        th {
          color: rgb(65, 65, 61);
          font-size: $text-2xl;
        }
      }
      .body-table {
        td {
          font-weight: bold;
        }
      }
    }
  }
}
