@import '../themes/variable';

.detail{
    padding-top: 150px;
    text-align: center;
    .container{
        .container-header{
            h3{

            }
            img{
               width: 500px;
            }
        }
        .detail-body{

        }
    }
}